@media screen { * , *:after,*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;  } }* {margin: auto; padding: auto;}
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Cabin|Pacifico")

* {
  margin: 0;
  padding: 0;
}
$dark-blue: #3e496b;
$yellow: #ecd641;
$red: #ea315;
$light-blue: #44b149;
body {
  background: $dark-blue;
}
